:root {
  //Primary Color
  --c-cyan: #2acfcf;
  --dark-violet: #3b3054;

  //Secondary Color
  --c-red: #f46262;

  // Neutral Color
  --c-gray: #bfbfbf;
  --grayish-violet: #9e9aa7;
  --v-dark-blue: #35323e;
  --v-dark-violet: #232127;
}