.hero-banner {
  background: #ffffff;
  padding: 150px 0 250px;
  overflow: hidden;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 25px;
    position: relative;

    &-image-mobile {
      display: none;

      img {
        width: 100%;
        max-width: 400px;
      }
    }

    &-text {
      align-self: center;

      h1 {
        color: var(--v-dark-blue);
        font-size: 70px;
        line-height: 1.3;
      }

      h2 {
        color: var(--grayish-violet);
        font-weight: 500;
        margin-bottom: 30px;
      }
    }

    &-image {
      img {
        position: absolute;
        width: 750px;
        right: -200px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 50px 0 150px;
    

    &__container {
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
    
      &-image-mobile {
        display: block;
      }

      &-text {
        h1 {
          font-size: 35px;
          line-height: 1;
          margin-bottom: 10px;
        }

        h2 {
          font-size: 16px;
        }
      }
  
      &-image {
        display: none;
      }
    }
  }
}

.shorten {
  background: #f0f1f6;
  padding: 0 0 50px;

  &__container {
    &-holder {
      position: relative;
      top: -70px;
    }

    &-form {
      background-color: var(--dark-violet);
      background-image: url(https://ik.imagekit.io/csdesigner/url_shortening_link/bg-shorten-desktop_r9yX_xSH5.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677662849392);
      background-position: center;
      background-size: cover;
      padding: 50px 25px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      grid-gap: 10px;
      box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);

      input {
        font-family: "Poppins", sans-serif;
        min-height: 50px;
        border-radius: 5px;
        outline: 0;
        font-size: 16px;
        padding: 0 15px;
        width: 100%;
        border-color: transparent;
        
        &:focus {
          border-color: var(--c-cyan);
        }
      }

      .link-validation {
        color: var(--c-red);
        position: absolute;
        bottom: 25px;
        font-style: italic;
        font-size: 14px;
      }

      button {
        &:disabled {
          background-color: var(--grayish-violet);
        }
      }
    }

    &-list {
      .list-item {
        padding: 12px 20px;
        background-color: #ffffff;
        border: 1px solid rgba(0,0,0,0.1);
        border-radius: 5px;
        margin-top: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr auto;
        grid-gap: 25px;
        font-size: 18px;
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.05);

        .item-original-link {
          color: var(--v-dark-blue);
          overflow: hidden;
          text-overflow: ellipsis;
          align-self: center;
          white-space: nowrap;
        }

        .item-shorten-link {
          margin-left: auto;
          align-self: center;

          a {
            color: var(--c-cyan);
          }
        }
      }
    }

    &-delete {
      button {
        background-color: var(--c-red);
        width: 100%;
        margin-top: 15px;

        &:hover {
          background-color: #fba4a4;
        }
      }
    }
  }

  @media screen and (max-width: 425px) {
    &__container {
      &-form {
        padding: 20px 15px;
        flex-direction: column;

        input {
          width: calc(100% - 30px);
        }

        .link-validation {
          top: 77px;
          left: 15px;
          font-size: 11px;
        }

        button {
          width: 100%;
          margin-top: 15px;
        }
      }

      &-list {
        .list-item {
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 0;
          padding: 0;
          font-size: 16px;

          .item-original-link {
            padding: 10px 15px;
            border-bottom: 1px solid rgba(0,0,0,0.1);
          }

          .item-shorten-link {
            margin-left: 0;
            padding: 10px 15px;
          }

          button {
            margin: 0 15px 15px 15px;
          }
        }
      }
    }
  }
}

.features {
  padding-bottom: 100px;
  background: #f0f1f6;

  &__header {
    text-align: center;

    h3 {
      color: var(--v-dark-blue);
      font-size: 40px;
      line-height: 1.3;
      margin-bottom: 10px;
    }

    p {
      color: var(--grayish-violet);
      font-size: 20px;
      max-width: 600px;
      margin: auto;
    }
  }

  &__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    margin-top: 100px;
    position: relative;

    .features-item {
      border-radius: 5px;
      background: #ffffff;
      box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.1);
      padding: 70px 30px 50px;
      position: relative;
      height: max-content;

      .item-icon {
        width: 80px;
        height: 80px;
        background-color: var(--dark-violet);
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -40px;

        img {
          width: 40px;
        }
      }

      h4 {
        color: var(--v-dark-blue);
        font-size: 20px;
      }

      p {
        font-size: 16px;
        color: var(--grayish-violet);
        margin-top: 10px;
        line-height: 1.6;
      }

      &.detailed-records {
        margin-top: 40px;
      }

      &.fully-customizable {
        margin-top: 80px;
      }
    }

    &:before {
      content: '';
      width: 100%;
      position: absolute;
      height: 8px;
      background-color: var(--c-cyan);
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media screen and (max-width: 768px) {
    &__header {
      h3 {
        font-size: 25px;
      }

      p {
        font-size: 16px;
      }
    }

    &__list {
      grid-template-columns: repeat(1, 1fr);

      .features-item {
        text-align: center;

        .item-icon {
          left: 50%;
          transform: translateX(-50%);
        }
      }

      &:before {
        width: 8px;
        height: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.advertisement {
  background-color: var(--dark-violet);
  background-image: url(https://ik.imagekit.io/csdesigner/url_shortening_link/bg-boost-desktop_AKpOhsIch.svg?ik-sdk-version=javascript-1.4.3&updatedAt=1677662848455);
  background-position: center;
  background-size: cover;
  padding: 70px 0;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    h5 {
      color: #ffffff;
      font-size: 40px;
      margin-bottom: 15px;
    }

    @media screen and (max-width: 425px) {
      h5 {
        font-size: 25px;
      }
    }
  }
}