@forward "../helpers/variables.scss";
@forward "../components/button.scss";

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 3px 22px 3px rgba(0,0,0,0.05);

  &__container {
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-logo {
      img {
        width: 220px;
      }
    }

    &-nav {
      margin: auto;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        grid-gap: 30px;

        li {
          a {
            color: var(--grayish-violet);
            font-size: 18px;
            font-weight: 600;

            &:hover {
              color: var(--v-dark-blue);
            }
          }
        }
      }
    }

    &-form {
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }
  }
}