@forward "../helpers/variables.scss";
@forward "../components/button.scss";

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 3px 22px 3px rgba(0,0,0,0.05);

  &__container {
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    &-logo {
      img {
        width: 220px;
      }
    }

    &-nav {
      margin: auto;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        grid-gap: 30px;

        li {
          a {
            color: var(--grayish-violet);
            font-size: 18px;
            font-weight: 600;

            &:hover {
              color: var(--v-dark-blue);
            }
          }
        }
      }
    }

    &-form {
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }

    &-menu {
      margin-left: auto;
      position: relative;
      display: none;

      .menu-line {
        background: var(--grayish-violet);
        width: 40px;
        height: 4px;
        border-radius: 50px;

        &:before {
          content: "";
          height: 4px;
          width: 60%;
          bottom: -10px;
          right: 0;
          position: absolute;
          background: var(--grayish-violet);
          border-radius: 50px;
        }

        &:after {
          content: "";
          height: 4px;
          width: 60%;
          top: -10px;
          position: absolute;
          background: var(--grayish-violet);
          border-radius: 50px;
        }
      }
    }

    .menu-link {
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      background-color: var(--dark-violet);
      border-radius: 10px;
      padding: 20px 20px 30px;
      text-align: center;
      transform-origin: top right;
      transform: scale(0);
      transition: all 0.2s ease-in-out;

      ul {
        list-style: none;
        border-bottom: 1px solid rgba(255,255,255,0.2);
        
        li {
          margin-bottom: 15px;

          a {
            color: #ffffff;
            font-size: 18px;
            font-weight: 600;
          }
        }
      }

      .link-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;

        button {
          width: 100%;
          margin-top: 10px;
        }

        .login {
          background-color: transparent;
        }
      }

      &.active {
        transform: scale(1);
        transition: all 0.2s ease-in-out;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__container {
      padding: 10px 0;

      &-logo {
        img {
          width: 180px;
        }
      }

      &-nav {
        display: none;
      }

      &-form {
        display: none;
      }

      &-menu {
        display: block;
      }
    }
  }
}