@forward "../helpers/variables.scss";
@forward "../components/button.scss";

.header {
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 3px 22px 3px rgba(0,0,0,0.05);

  &__container {
    padding: 15px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &-logo {
      img {
        width: 220px;
      }
    }

    &-nav {
      margin: auto;

      ul {
        list-style: none;
        padding-left: 0;
        display: flex;
        align-items: center;
        grid-gap: 30px;

        li {
          a {
            color: var(--grayish-violet);
            font-size: 18px;
            font-weight: 600;

            &:hover {
              color: var(--v-dark-blue);
            }
          }
        }
      }
    }

    &-form {
      display: flex;
      align-items: center;
      grid-gap: 10px;
    }

    &-menu {
      margin-left: auto;
      position: relative;
      display: none;

      .menu-line {
        background: var(--grayish-violet);
        width: 40px;
        height: 4px;
        border-radius: 50px;

        &:before {
          content: "";
          height: 4px;
          width: 60%;
          bottom: -10px;
          right: 0;
          position: absolute;
          background: var(--grayish-violet);
          border-radius: 50px;
        }

        &:after {
          content: "";
          height: 4px;
          width: 60%;
          top: -10px;
          position: absolute;
          background: var(--grayish-violet);
          border-radius: 50px;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__container {
      padding: 10px 0;

      &-logo {
        img {
          width: 180px;
        }
      }

      &-nav {
        display: none;
      }

      &-form {
        display: none;
      }

      &-menu {
        display: block;
      }
    }
  }
}